@font-face {
    font-family: 'Lausanne';
    src: url('rsc/Lausanne-Regular.otf') format('opentype');
}

p {
    font-family: 'Lausanne';
    color: white;
    font-size: 14px;
}

.flex-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    align-content: flex-start;
    gap: 5px;
}

.flex-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: flex-start; /* Align content to the left */
    flex-basis: auto;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px; /* Remove extra padding around text */
    background-color: #383838;
    min-height: 70px;
    line-height: 1; /* Tighten line spacing */
}

.flex-items > * {
    margin: 0; /* Remove default margins for child text elements */
    padding: 0; /* Remove padding if any */
}

.box-title {
    font-size: 24px;
    padding-bottom: 4px;
}

.box-num {
    font-size: 48px;
    padding-bottom: 4px;
}



body {
    background-color: #232323;
    padding: 5px;
}


.banner-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    align-content: flex-start;
    padding: 5px;
    border: 0px dotted white;
}

.banner-items {
    border: 0px dotted white;
}

.banner-title {
    font-size: 35px;
    margin: 0;
    padding: 0;
    line-height: 1;
}


.social-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    align-content: flex-start;
    border: 0px dotted white;
    gap: 20px;
}

.social-items {
    border: 0px dotted white;
}

.social-items > img {
    height: 30px;
}

.res-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  border: 0px solid black;

  gap: 25px
}

.res-items {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 0px;
  margin: 0px;
  height: 150px;
}

.res-items:img {
  width: 150px;
  height: 300px;
}

.res-items { position: relative; }
.res-overlay {
  /* (B1) COVER OVER ENTIRE IMAGE */
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
 
  /* (B2) CENTER CONTENT */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.res-overlay p {
  margin: 5px;
}

.res-overlay p:nth-child(1) {
  font-size: 18px;
}

 
/* (C) ONLY SHOW CAPTION ON HOVER */
.res-overlay {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.res-items:hover .res-overlay {
  visibility: visible; opacity: 1;
  cursor: pointer;
}




@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 7));
    }
  }

  .slide > img {
    width: 200px;
    height: 50px;
  }

  .slider {
    background: #232323;
    height: 70px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1fr;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, #232323 0%, rgba(255, 255, 255, 0) 100%);;
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(200px * 15);
  }


